$blue_color: #13447E;
$red_color: #FF0000;


/* Mixin */
@mixin button($border_radius, $width, $height, $color, $font_weight, $font_size){
    border-radius: $border_radius;
    width: $width;
    height: $height;
    color: $color;
    font-weight: $font_weight;
    font-size: $font_size;
    display: block;
    text-align: center;
    line-height: $height;
    text-decoration: none;
}

@mixin h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    color: $blue_color;
    width: 100%;
    margin: 0;
}